@import "tailwindcss";

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Form input and textarea base styles */
input[type="text"],
input[type="email"],
input[type="url"],
textarea,
select {
  @apply text-black;
}

/* Button base styles */
button,
button[type='submit'] {
  @apply rounded px-4 py-2 text-white;
}

button.secondary {
  @apply border bg-white text-black;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
